<div class="page-header">
    <div class="icon">
        <span class="ico-arrow-right"></span>
    </div>
    <h1>Edition <small>Modification du profil d'un utilisateur</small></h1>
</div>

<div class = "row-fluid">
  <div class = "span6">
    <%#= render 'layouts/flash_messages' %>    
    <% if !@error_messages.blank? %>  
      <div class = "alert alert-error">         
        <ul>
        <% @error_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if !@alert_messages.blank? %>  
      <div class = "alert alert-info">         
        <% @alert_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
    <% if !@success_messages.blank? %> 
      <div class = "alert alert-success">         
        <% @success_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
    <% if !flash[:notice].blank? %>  
      <div class = "alert alert-info">  
        <%= flash[:notice] %>
      </div>
    <% end %>
     
    <div class = "block">
      <div class = "head">
        <h2><%= "#{@user.lastname} #{@user.firstname}" %></h2>
      </div>
      <div class = "data-fluid">
        <%= form_for(@user, :url => update_user_profile_path) do |f| %>
          <%#= devise_error_messages! %>
          <%= hidden_field_tag "id", @user.id %>
          <div class = "<%= @firstnamecss %>">
            <div class = "span3">Nom</div>
            <div class = "span9">	                      
              <%= f.text_field :firstname, :placeholder => "Nom" %>    
            </div>
          </div>
          <div class = "<%= @lastnamecss %>">
            <div class = "span3">Prénoms</div>
            <div class = "span9">	        
              <%= f.text_field :lastname, :placeholder => "Prénoms" %>
            </div>
          </div>
          <div class = "<%= @phone_numbercss %>">
            <div class = "span3">Téléphone mobile</div>
            <div class = "span9">	        
              <%= f.text_field :phone_number, :placeholder => "Ligne de téléphonie fixe" %>
            </div>
          </div>
          <div class = "<%= @mobile_numbercss %>">
            <div class = "span3">Téléphone fixe</div>
            <div class = "span9">		        
              <%= f.text_field :mobile_number, :placeholder => "Ligne de téléphonie mobile" %>
            </div>
          </div>
          <div class = "<%= @profile_idcss %>">
            <div class = "span3">Profil</div>
            <div class = "span9">		        
              <%= f.collection_select :profile_id, @profiles, :id, :name, prompt: "-Veuillez choisir un profil-" %>
            </div>
          </div>
          <div class = "row-form">
            <div class="span9">
              <%= button_tag(:name => "Modifier le profil", :data => {:disable_with => "Veuillez patienter"}, :class => "btn") do %>
               Modifier le profil <div class="icon-arrow-next icon-white"></div> 
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class = "span6">
    <div class = "block">
      <div class = "head">
        <h2>Liste des utilisateurs</h2>
      </div>
      <div class = "head green" >
		    <div class = "icon" >
		      <span class = "ico-pen-2"></span>		      
		    </div>  
		    <h2>Visualisation du profil des utilisateurs</h2>
		  </div>		  
		  <%= render 'users', :locals => {:users => @users} %>  	  
    </div>
  </div>
</div>
