<div class="page-header">
    <div class="icon">
        <span class="ico-arrow-right"></span>
    </div>
    <h1>Moyens de paiement<small>Créer un moyen de paiement</small></h1>
</div>

<div class = "row-fluid">
  <div class = "span6">
    <%= render 'layouts/flash_messages' %>
    <% if !@error_messages.blank? %>  
      <div class = "alert alert-error">         
        <ul>
        <% @error_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% if !@alert_messages.blank? %>  
      <div class = "alert alert-info">         
        <% @alert_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
    <% if !@success_messages.blank? %> 
      <div class = "alert alert-success">         
        <% @success_messages.each do |msg| %>
          <%= msg %>
        <% end %>
      </div>
    <% end %>
     
    <div class = "block">
      <div class = "head">
        <div class = "icon">
          <span class = "ico-expand"></span>
        </div>
        <h2>Créer un moyen de paiement</h2>
      </div>
      <div class = "data-fluid">
        <%= form_tag ("/wallet/create") do %>
          <%#= devise_error_messages! %>
          <div class = "<%= @namecss %>">
            <div class = "span3">Nom</div>
            <div class = "span9">	                      
              <%= text_field_tag "name", params[:name], :placeholder => "Nom du moyen de paiement" %>                 
            </div>            
          </div> 
          <div class = "row-form">
            <div class = "span3">Frais de transport</div>
            <div class = "span9">	 
              <div class = "radio">                 
                <%= radio_button_tag "percentage", "true", true %>              
              </div>Pourcentage (%) 
              <div class = "radio">                       
                <%= radio_button_tag "percentage", "false", false %> 
              </div>Montant fixe (F CFA)
            </div>
          </div>  
          <div class = "<%= @feecss %>">
            <div class = "span3">Valeur</div>
            <div class = "span9">	                      
              <%= text_field_tag "fee", params[:fee], :placeholder => "Valeur des frais de transport" %>                 
            </div>            
          </div>                 
                 
          <div class = "row-form">
            <div class="span9">
              <%= button_tag(:name => "Créer un moyen de paiement", :data => {:disable_with => "Veuillez patienter"}, :class => "btn") do %>
                Créer un moyen de paiement<div class="icon-arrow-next icon-white"></div> 
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class = "span6">
    <div class = "block">
      <div class = "head">
        <div class = "icon">
          <span class = "ico-list-3"></span>
        </div>
        <h2>Liste des moyens de paiement</h2>
      </div>
      <div class = "head orange" >
		    <div class = "icon" >
		      <span class = "ico-pen-2"></span>		      
		    </div>  
		    <h2>Visualisation des moyens de paiement</h2>
		  </div>	
		  <div id="services">
        <table cellpadding = "0" cellspacing = "0" width = "100%" class = "table">
          <thead>
            <tr>
              <th width = "70%">Nom</th>
              <th width = "30%">Statut</th>
            </tr>
          </thead>
          <tbody>
            <% if @payment_ways.blank? %>
			        <tr>
				        <td>Aucun moyen de paiement présent dans la base de données</td>
			        </tr>
		        <% else %>
		          <% @payment_ways.each do |payment_way| %>		    
		            <tr>		        
					        <td>
					          <%= payment_way.name %>
					        </td>	
					        <td>
					          <% if payment_way.blank? or payment_way == true %>
					            <span class = "label label-success">Activé</span>	
					          <% else %>
					            <span class = "label label-warning">Désactivé</span>
					          <% end %>
					        </td>				        
			          </tr>
			        <% end %>
		        <% end %>
          </tbody>
        </table>	
		  </div>	 
		  <% unless @payment_ways.blank? %>
		    <div id = "pagination">
          <%= paginate @payment_ways, :params => { :controller => :payment_ways, :action => :index } %>
        </div>
      <% end %> 
    </div>
  </div>
</div>
